
body {
  background-color: $primary-one;
  color: $neutral-one;
  font-family: Ubuntu sans-serif;
}

.header {
  background: url(/assets/img/habit_app_header_bg.jpg) no-repeat center center fixed;
  color: $neutral-one;
  background-size: cover;
  height: 600px;

  p {
    font-size: 24px;
    font-family: 'Noto Serif', serif;
  }

  img {
    width: 75px;
  }
}

.main {
  background-color: $neutral-one;
  color: $neutral-two;
}

.footer {
  background-color: $primary-one;
  color: $neutral-one;
  font-size: 14px;
  padding: 40px 0 100px 0;
}

a {
  color: $accent-one;
  &:hover {
    color: $neutral-two;
  }
}

h1 {
  font-family: 'Carter One', sans-serif;
}

h2, h3 {
  font-family: 'Noto Serif', serif;
}

p {
  font-family: Ubuntu, sans-serif;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

hr.screen-border {
    border: 0;
    height: 1px;
    background: $neutral-two;
    background-image: linear-gradient(to right, $neutral-one, $neutral-two, $neutral-one);
}

.spacer {
  height: 50px;
  background-color: $neutral-one;
}


@mixin button-hollow-style($color: $primary-color) {
  $color-hover: scale-color($color, $lightness: 50%);

  border: 1px solid $color;
  color: $color;

  &:hover, &:focus {
    border-color: $color-hover;
    color: $color-hover;
  }
}

.white-button {
  @include button-hollow-style($neutral-one);
}

ul.store-list {
  list-style: none;
  padding: 50px 0;
  text-align: center;
}

ul.social-list {
  list-style: none;
  padding: 10px 0;

  li {
    display: inline-block;
  }
}

#downloadList {
  background-color: $primary-one;
  color: $neutral-one;
}

.bullet-point {
  text-align: center;
  h3 {
    margin-top: 10px;
  }
}

.screenshot {
  width: 200px;
  border: solid 1px $neutral-two;
  padding: 3px;
  -webkit-box-shadow: 0 8px 6px -6px black;
   -moz-box-shadow: 0 8px 6px -6px black;
        box-shadow: 0 8px 6px -6px black;
}


@media screen and (max-width: 39.9375em) {
  #getApp {
    margin-top: 40px;
  }

  .screenshot {
    margin: 20px;
  }

  .info {
    .row {
      margin: 40px 0;
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #getApp {
    margin-top: 40px;
  }

  .screenshot {
    margin: 20px;
  }

  .info {
    .row {
      margin: 40px 0;
    }
  }
}
