
.header {
  background: url(/assets/img/habit_app_header_bg.jpg) no-repeat center center fixed;
  color: $neutral-one;
  background-size: cover;
  height: 600px;

  p {
    font-size: 24px;
  }

  img {
    width: 75px;
  }
}

.main {
  // background-color: $primary-one;
  // color: $neutral-one;

  background-color: $neutral-one;
  color: $neutral-two;
  height: 400px;
}
//
// .info {
//   background-color: $neutral-one;
// }


.footer {
  background-color: $primary-one;
  color: $neutral-one;
  height: 200px;
}
